header {
    background-color: #ffffff; /* White background for the header */
    color: rgb(0, 0, 0); /* Black text color */
    padding: 10px 20px;
    margin: 1rem;
    
}

.nav {
    font-family: Inter;
    display: flex;
    justify-content: space-between; /* Aligns children to the left and right */
    align-items: center;
    width: 100%;
    min-width: 300px;
    min-height: auto;

}

.logo {
    color: black;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    margin-left: 5px;
}

.logo:hover {
    color: #da820f; /* Orange color on hover */
}

.navRight {
    display: flex; /* Ensures links are in a row */
    gap: 3rem; /* Space between links */
    text-align: right;
}

.right {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.alink,.right:hover {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: #da820f; /* Orange color on hover */
}


