/* Header.css */

header {
    background-color: #ffffff; /* Dark background for the header */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none; /* Removes default list styles */
    padding: 0;
    margin: 0;
    display: flex; /* Aligns links in a row */
    justify-content: center; /* Centers links horizontally */
    align-items: center; /* Centers links vertically */
    flex-direction: row;
    gap: 200px;
}

nav ul li {
    margin: 0 15px; /* Spacing between links */
}

nav ul li a {
    color: black; /* Text color for links */
    text-decoration: none; /* Removes underline from links */
    font-size: 16px; /* Sets font size */
    font-weight: bold; /* Makes font bold */
}

nav ul li a:hover,
nav ul li a:focus {
    color: #535353; /* Light grey color on hover/focus */
    
}
