h1, h2, p{
  font-family: Inter;
  
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  flex: 1;
}

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .5rem;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}