.imageContainer {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin: 0;
  overflow: hidden;
  width: 100%; /* Set a fixed width */
  height: auto;
  border: 2px solid #ddd; /* Adds a border around each project preview */
  border-radius: 8px; /* Rounded corners */
  transition: transform 0.3s ease;
}

.imageContainer::before {
  content: "";
  display: block;
  padding-top:66.67%;; /* Remove square padding */
}

.imageContainer > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  height: auto;
  width: 100%;
  object-position: center; /* Centers the image within the container */
  transition: transform 0.3s ease;
}

.imageContainer:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Inter;
}

.imageContainer:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 1.5em; /* Adjust font size as needed */
  padding: 10px;
  text-transform: uppercase; /* Makes the text uppercase */
  font-weight: bold;
}

.a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}

.p {
  margin-top: 0;
  text-decoration: none;
  text-align: center;
  font-size: 1em; /* Adjust font size as needed */
  padding: 10px;
  text-transform: uppercase; /* Makes the text uppercase */
  font-weight: bold;
  color: black;
}
