/* ProjectsPreview.css or ProjectCard.css */

.project-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Adds a subtle shadow around the card */
    margin: 16px;  /* Adds margin around each card */
    border-radius: 8px;  /* Rounds the corners of the card */
    overflow: hidden;  /* Ensures nothing spills out of the card's rounded corners */
    background-color: #fff;  /* White background for each card */
    transition: transform 0.3s ease-in-out;  /* Smooth transformation on hover */
    width: 33%;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    
}

.project-card:hover {
    transform: translateY(-10px);  /* Slightly raise the card on hover */
}

.project-image {
    width: 100%;  /* Ensures the image covers the full width of the card */
    height: 200px;  /* Fixed height for uniformity */
    object-fit: cover;  /* Ensures the image covers the area without distorting */
}

.project-title {
    padding: 16px;  /* Padding inside the card, below the image */
    text-align: center;  /* Centers the project title */
    font-size: 20px;  /* Larger font size for visibility */
}
