.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 5%;

}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0%;
    width: 60%;
    height:auto;


}

/* For medium screens, adjust to 2 columns */
@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* For small screens, adjust to 1 column */
@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}