.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 5%;

}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0%;
    width: 60%;
    aspect-ratio: 1 / 1;
    height: auto;
}
.project{
    width: 100%;
    background-color: gray;

}
.project::before {
    content: "";
    display: block;
    padding-bottom: 100%; /* This makes the height equal to the width, creating a square */
}

