.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 5%;

}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0%;
    width: 60%;


}
.project{
    width: 100%;
    background-color: gray;
    position: relative;

}
.project::before {
    content: "";
    display: block;
    padding-bottom: 100%; /* This makes the height equal to the width, creating a square */
}


.project > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
